.auth {
    background-color: #ECDBBA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: center;
    color: #2D4263;
}
