.auth {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel {
    width: 20vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: antiquewhite;
    box-shadow: #2D4263 2px 2px 6px 2px;
    z-index: 2;
}

.text {
    text-align: center;
    color: #2D4263;
    z-index: 3;
}
