.lobby {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}


.lobby-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.name {
    font-weight: bold;
}

.rarity {
    color: #C84B31;
    font-weight: bold;
}
