.pane {
    flex: 1;
    padding: 10px;
    border-style: solid;
    border-width: 0px 2px 0px 0px;
    border-color: #434C5E;
}

.profile-name {
    color: #191919;
    padding: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divider{
    width: 90%;
    height: 0;
    border: 1px;
    border-style: solid;
    margin: 10px;
}
